/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

abbr {
  text-decoration: none;
  font-style: italic;
}

address {
  display: inline-block;
}

dt {
  display: inline-block;
  min-width: 150px;
}

dd {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.author {
  color: rgb(16, 114, 167);
  text-decoration: underline;
}

div#header {
  background-color: #14213dff;
  min-height: 250px;
  line-height: 250px;
}

.sistema-solare__title {
  text-align: center;
  margin: 0;

  font-size: 40px;

  text-transform: capitalize;
}

.sistema-solare__title--principale {
  text-shadow: 2px 2px 2px #e5e5e5ff;
  word-spacing: 3px;
  text-transform: uppercase;
  font-size: 60px;
  color: #fca311ff;
}

div#main {
  padding: 20px 20px 0;
  background-color: #e5e5e5ff;
}

div.sistema-solare {
  background-color: #fca311ff;
  padding: 20px;
  border: 3px solid #000000ff;
}

.sistema-solare__body {
  font-size: 19px;
  line-height: 1.15;
}

.sistema-solare__body li {
  list-style-image: url("../../assets/img/icons8-pianeta-8.png");
}

.pianeta-container {
  margin: 20px 0 0;
  font-size: 0;
}

.pianeta-card {
  width: calc(33.333333% - 20px);
  border: 2px solid black;
  padding: 20px 0;
  display: inline-block;
  font-size: 16px;

  margin: 0 10px 20px;
}

.pianeta-card__head {
  border-bottom: 2px ridge black;
  padding-bottom: 20px;
  margin: 0;
}

.pianeta-card h2 {
  text-align: center;
  margin: 0;
}

.pianeta-card__body {
  padding: 20px;
}

.pianeta-card__body p {
  margin: 0;
}

.pianeta-card_footer {
  color: #14213dff;
  text-align: center;
  border-top: 2px ridge black;
  padding-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

.pianeta__card--boundary-left {
  margin-left: 0;
  width: calc(33.333333% - 10px);
}

.pianeta__card--boundary-right {
  margin-right: 0;
  width: calc(33.333333% - 10px);
}

div#footer {
  background-color: #fca311ff;
  padding: 50px;
}
