* { 
    box-sizing: border-box;
}

body {
    margin: 0%;
} 

div{
    width: 50%;
    border: 5px solid black;
    margin: 5px;
}

div:first-of-type{
    /* display:none; */
    /* visibility: hidden; */
    opacity: 0.3;
}